<div class="container-fluid">
  <div class="row">
    <%= image_tag("self_pic.jpg", class:"about-page-self-pic img-thumbnail") %>
    <span style="text-align:center;">
          <span class="about-column">
            &nbsp;&nbsp;&nbsp;&nbsp; My name is Christian Hecker and I love computer programming and web development!
            Computer science first snuck into my life through the form of a complicated book on java at the end of middle school.
            Scrolling through the school library book shelves the book caught my eye and I figured I'd give it a try.
            Reading through the book seemed so foreign and interesting at the same time. I actually loved reading through the book,
            even if I didn't understand most of it. That is until I started <i>actually</i> trying to program.
            My little 13 year old self wrote his cute little hello-world java program and got to the windows cmd line and typed that
            'javac' command only to be met with "'javac' is not recognized as an internal or external command". Over and over again.
            It was completely frustrating. I had no idea how this stuff worked. I gave up and returned the book.
            <br>&nbsp;&nbsp;&nbsp;&nbsp; A few years later, in one of my introductory high school courses, I would hesitantly give computer
            programming another chance. Although it was not "real" programming (We used some graphical programs called "Scratch" and "Alice"
            to learn), the class gave me enough interest to pursue programming on my own.
            <br>&nbsp;&nbsp;&nbsp;&nbsp; Over the next 7 years programming  became a huge part of my life. I loved learning it and using it. I got my hands dirty with
            Java, C++, javascript, python, PHP, HTML, CSS... My time spent with this stuff allowed me to learn important programming concepts
            like the back of my hand. Sorting, OOP, Programming Paradigms like MVC, solutions to classic computer
            science problems, how to structure programs using functions,
          </span>

          <span class="about-column">
              looping tricks, etc. I then used my knowledge in those areas to venture out and see where they
             could be applied. I got into building Android Apps with Java, making cool programs with OpenGL and C++, making games
             with C++ engines, making chess games in C, making nifty little web pages with HTML and CSS. I even used PHP to build a very
             dirty search engine spider and do cool things with Regular expressions. <br>&nbsp;&nbsp;&nbsp;&nbsp; I'm proud of what I have
             accomplished on my own and I love that programming has become part of who I am. It changed me from a person who gives up when
             met with an impossible task, to someone who will go through great lengths to find the solution to the problem.
             <br>&nbsp;&nbsp;&nbsp;&nbsp; Web developmentis where programming is taking me next. It is a very different environment than what
             I am used to. It's fast-paced, constantly changing, and your code always has to be in top shape. Its so intriguing to me.
             I have always played around with and learned about web development here and there, but I was never completey serious about it.
             After giving it some serious time and working with some of the technology, I am now sure that I a career in web development would
             be awesome. And that's why I built this website. I want to work on awesome websites and hopefully use them to make people's lives
             better. Additionally, maintaining a blog about what I'm learning and doing will help me document everything I do from now on.
             I hope that this journey into Web Development will make me a better programmer. If one things for sure its that I have a lot to
             learn.
          </span>
    </span>
  </div>
</div>
