<div class="container-fluid">
  <div class="row">
    <%= image_tag("about_pic.jpg", class:"about-page-self-pic img-thumbnail") %>
    <span style="text-align:center;">
      <h1 style="font-weight: bold; background-color: #bbbbbb; padding: 2px; color: #444444;"> About </h1>
          <span class="about-column">
            &nbsp;&nbsp;&nbsp;&nbsp; My name is Christian Hecker and I love computer programming and web development!
            Computer science first snuck into my life about 7 years ago and has been a big part of my life ever since. I
            started off learning java and came to love C++. Programming was so fascinating to me and often offered an
            escape when I needed it.

            <br>&nbsp;&nbsp;&nbsp;&nbsp;Web development has been something that I have always wanted to be a part of, but I
            was never serious enough about it to get into the industry. I am hoping to change that. I built this website
            to document my journey of starting from the bottom. I hope to document every new thing that I learn by blogging
            about it on my site and if the blog happens to help someone solve
          </span>

          <span class="about-column">
            a problem or even just get into web development
            that would be a huge plus. Additionally, I will be showcasing my projects on my website and hope you will take a little time
            to check them out.

            <br>&nbsp;&nbsp;&nbsp;&nbsp;I will be updating my site as much as possible as I continue learning more about web development.
            My ultimate goal is to obtain employment as a web developer and this is just a place where I can document what I do as I work towards
            getting that goal. I have a lot to learn and a long way to go, but I believe that this
            journey will make me an even better programmer.
          </span>
    </span>
  </div>
</div>
