<div class="container-fluid">
  <div class="row blog1-title-block">

    <h1 class="blog1-title">
      Chapter 1: Diving into Web Development
    </h1>

    <p class="blog1-subtitle">
      Computer science first snuck into my life through the form of a complicated book on java at the end of middle school.
      Scrolling through the school library book shelves the book caught my eye and I figured I'd give it a try.
      Reading through the book seemed so foreign and interesting at the same time. I actually loved reading through the book,
      even if I didn't understand most...
    </p>

    <div class="blog-button-block" style="margin-top: 35px;">
      <%= link_to({controller: 'static_pages', action: 'blog1'}, style: "text-decoration: none;", remote: true, method: 'post') do %>
        <div class="blog-button">
          Read this story
        </div>
      <% end %>
    </div>

  </div>

  <div class="row blog1">
    Computer science first snuck into my life through the form of a complicated book on java at the end of middle school.
    Scrolling through the school library book shelves the book caught my eye and I figured I'd give it a try.
    Reading through the book seemed so foreign and interesting at the same time. I actually loved reading through the book,
    even if I didn't understand most...
    Computer science first snuck into my life through the form of a complicated book on java at the end of middle school.
    Scrolling through the school library book shelves the book caught my eye and I figured I'd give it a try.
    Reading through the book seemed so foreign and interesting at the same time. I actually loved reading through the book,
    even if I didn't understand most...
    Computer science first snuck into my life through the form of a complicated book on java at the end of middle school.
    Scrolling through the school library book shelves the book caught my eye and I figured I'd give it a try.
    Reading through the book seemed so foreign and interesting at the same time. I actually loved reading through the book,
    even if I didn't understand most...
  <div>
</div>
