<div class="container-fluid">

  <!-- make a separate partial and corresponding JS file for each blog and then render them here -->

    <%= render 'blogs/blog2' %>
    <%= render 'blogs/blog1' %>

</div>
