<div class="container-fluid">

  <div class="row">
      <%= image_tag("twitter.png", alt: "twitter", class:"social-media-icon img-thumbnail", style: "") %>
      <%= image_tag("linkedin.png", alt: "linkedin", class:"social-media-icon img-thumbnail") %>
      <%= image_tag("github.png", alt: "github", class:"social-media-icon img-thumbnail") %>
  </div>

  <div class="row" style="position: absolute; top: 10vh; left: 7vh;">
    <h1 style="font-weight: bold;">
      Contact Me!
        <br><small>
          Feel free to contact me at any time using any of these options
        </small>
    </h1>
  </div>

  <div class="row" style="position:absolute; top: 25vh; left: 9vh;">
    <h4> Christian Hecker </h4>
    <h4> Email: christianhecker36@yahoo.com </h4>
    <h4> Phone: (832) 407-0016 </h4>
    <h4> Twitter Handle: @heckerhacker </h4>
    <h4> Austin, TX </h4>
  </div>
</div>
