<div class="container-fluid">

  <!-- social_media_icons partial contains icons for social media links (twitter, github, linkedin...) -->
  <%= render 'shared/social_media_icons' %>

  <div class="row contact-info-title">
    <h1>
      Contact Me!
        <br><small>
          Feel free to contact me at any time using any of these options
        </small>
    </h1>
  </div>

  <div class="row contact-info-block">
    <h4> Christian Hecker </h4>
    <h4> Email: christianhecker36@yahoo.com </h4>
    <h4> Phone: (832) 407-0016 </h4>
    <h4> Twitter Handle: @heckerhacker </h4>
    <h4> Github username: scorchio36 </h4>
    <h4> Austin, TX </h4>
  </div>
</div>
