<!-- Home page for my site -->
<div class="container-fluid">

  <!-- social_media_icons partial contains icons for social media links (twitter, github, linkedin...) -->
  <%= render 'shared/social_media_icons' %>

  <div class="row home-page-self-pic">
      <%= image_tag("mypic.jpeg", class:"img-rounded img-thumbnail") %>
  </div>

  <div class="row main-intro-paragraph-block">
    <h2>Christian Hecker
      <br><small>
        Welcome to my website! I love web development and programming. If you have some time, check out some of my past and current
        work over at "Projects" or check out my personal programming Blog where I talk about new programming languages and frameworks
        I'm learning and working with. Please feel free to email me or follow me on my social media if anything interests you. Thanks
        for stopping by!
      </small>
    </h2>
  </div>

</div>
