<div class="container-fluid">
  <div class="row meme-kitchen">
    <div class="project-title">
      <h1>
        The Meme Kitchen
          <br><small>
            Built with: Ruby on Rails 5, HTML5, SASS3, Javascript, AJAX, Twitter Bootstrap 3
          </small>
      </h1>
    </div>

    <div class="project-description">
      <h4>
        The Meme Kitchen is the coolest place to eat the best memes on the internet. There's
        always a table for you at our meme restaurant. And if you're feelin' adventurous and
        creative then make an account and get in the kitchen and cook up your own memes!
      </h4>
    </div>

    <div class="project-button-block">
        <%= link_to("#", style:"text-decoration: none;") do %>
          <div class="project-button">
            CHECK IT OUT
          </div>
        <% end %>
    </div>
  </div>
</div>
