@import "bootstrap-sprockets";
@import "bootstrap";


//Navbar
#logo {
  width: 25%;
  margin:10px;
}

.navbar {
  background-color: rgba(255,255,255,0.85); //make the background of the navbar transparent
}

//links to other pages of the website
.menu-bar {
  position: absolute;
  bottom: 0px;
  right: 0px;

  li {
    margin-right: 15px;
  }

  a {
    color: #ff3333;
    font-weight: bold;
    font-family: graduate;
    font-size: 1.2em;
  }
}





//footer
//icons for the footer that each display a technology that I use
.footer-icon {
  width: 50px;
  height: 50px;
  margin: 12px;
}






//home page
//(Twitter icon, linkedin icon, etc...)
.social-media-icon {
  width: 75px;
  height: 75px;
  float: right;
  margin-right: 10px;
}

.home-page-self-pic {
  margin: auto;
  width: 20%;
  text-align: center;

  img {
    width: 160px;
    height: 225px;
  }
}

.main-intro-paragraph-block {

  text-align: center;
  width: 600px;
  margin: auto;
  margin-top: -10px;
  font-family: serif;

  h2 {
    font-weight: bold;
    line-height: 0.9em;

  }

}



//contact page
//easier to position them absolutely
.contact-info-title {
  position: absolute;
  top: 7vw;
  left: 7vw;
  h1 {
    font-weight: bold;
  }
}

.contact-info-block {
  position:absolute;
  top: 17vw;
  left: 9vw;
}



//about page
.about-page-self-pic {
  float: left;
  width: 30vw;
  height: 95vh;
  margin: 10px;
}

//there are two columns in the about section
.about-column {
  float: left;
  width: 33%;
  padding-left: 5px;
  padding-right: 5px;
  text-align: left;
  margin-top: 5px;
  font-weight:bold;
  font-size: 1.3em;
  font-family: serif;
}





//projects page
//styling for my project at thememekitchen.com block
.meme-kitchen {
  background-image: image-url("meme_background_dark.jpg");
  width: 100vw;

  h1 {
    color: #ffffff;
    font-family: graduate;
    margin: 25px;
    text-shadow: 2px 2px black;
    font-weight: bold;

    small {
      text-shadow: 2px 2px black;
      font-size: 0.6em;
      color: #eeeeee;

    }
  }
}



//Make a mixin for each of these so you can change size, color, font for each title, etc...
.project-title {
  width: 50%;
}

.project-description {
  text-align: center;
  color: white;
  width: 500px;
  margin: auto;
  text-shadow: 2px 2px black;
}

.project-button-block {
  margin: auto;
  width: 150px;
}

.project-button {
  background-color: rgba(0,0,0, 0.0);
  color: white;

  border: 3px solid white;
  border-radius: 5px;

  text-align: center;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 20px;


  text-decoration: none;

  &:hover {
    text-decoration:none;
  }

}




//blog page

@for $i from 1 to 3 {
  .blog-title#{$i} {
    font-weight: bold;
    color: #eeeeee;
    text-shadow: 1px 1px black;
  }

  .blog-subtitle#{$i} {
    font-size: 1.2em;
    font-weight: bold;
    width: 450px;
    margin: auto;
    color: #dddddd;
  }



  .blog-button#{$i} {
    background-color: rgba(0,0,0, 0.0); //make the blog button transparent
    color: white;

    border: 3px solid white;
    border-radius: 5px;

    text-align: center;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 20px;


    text-decoration: none;

    &:hover {
      text-decoration:none;
    }

  }

  .blog#{$i} {
    display: none;
    font-size: 1.3em;
    text-align: justify;
    width: 80vw;
    margin: auto;
    line-height: 30px;
    font-family: serif;
    margin-top: 10px;
  }

  .closeStoryLink#{$i} {
    display: none;
    text-decoration: none;
    font-size: 1.5em;
    float: right;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 0px 2px 2px 2px;
    border-radius: 0px 0px 10px 10px;
    border-color: #0645AD;
    padding: 3px;
    background-color: #0645AD;
    color:white;
    margin-right: 100px;
    margin-top: -4px;

    &:hover {
      text-decoration: none;
      color: white;
    }
  }

  .blogDate#{$i} {
    float: right;
    margin-right: 30px;
    display: none;
  }

}

.blog-button-block {
  margin: auto;
  width: 150px;
}


.blog-title-block1 {
  background-image: image-url("blog1.jpeg");
  background-repeat: no-repeat;
  background-size: 100vw 350px;

  width: 100vw;
  height: 350px;

  text-align: center;
  margin-top: 15px;

  border-width: 0px 0px 4px 0px;
  border-style: solid;
  border-color: #0645AD;
}


.blog-title-block2 {
  background-image: image-url("ubuntu1.png");
  background-repeat: no-repeat;
  background-size: 100vw 350px;

  width: 100vw;
  height: 350px;

  border-width: 0px 0px 4px 0px;
  border-style: solid;
  border-color: #0645AD;

  text-align: center;
}
