@import "bootstrap-sprockets";
@import "bootstrap";


body {
  //background-color: #ffbbbb;
}


//Navbar
#logo {
  width: 25%;
  margin:10px;
}

.navbar {
  background-color: rgba(255,255,255,0.85);
}

.menu-bar {
  position: absolute;
  bottom: 0px;
  right: 0px;

  li {
    margin-right: 15px;
  }

  a {
    color: #ff3333;
    font-weight: bold;
    font-family: graduate;
    font-size: 1.2em;
  }
}

//home page content
.social-media-icon {
  width: 75px;
  height: 75px;
  float: right;
  margin-right: 10px;
}

.home-page-self-pic {
  margin: auto;
  width: 20%;
  text-align: center;

  img {
    width: 160px;
    height: 210px;
  }
}

.main-intro-paragraph-block {

  text-align: center;
  width: 600px;
  margin: auto;
  margin-top: -10px;
  font-family: serif;

  h2 {
    font-weight: bold;
    line-height: 0.9em;

  }

}


//project page
.meme-kitchen {
  background-image: url("meme_background_dark.jpg");
  width: 100vw;

  h1 {
    color: #ffffff;
    font-family: graduate;
    margin: 25px;
    text-shadow: 2px 2px black;
    font-weight: bold;

    small {
      text-shadow: 2px 2px black;
      font-size: 0.6em;
      color: #eeeeee;

    }
  }
}

//Make a mixin for each of these so you can change size, color, font for each title, etc...
.project-title {
  width: 50%;
}

.project-description {
  text-align: center;
  color: white;
  width: 500px;
  margin: auto;
  text-shadow: 2px 2px black;
}

.project-button-block {
  margin: auto;
  width: 150px;
}

.project-button {
  background-color: rgba(0,0,0, 0.0);
  color: white;

  border: 3px solid white;
  border-radius: 5px;

  text-align: center;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 20px;


  text-decoration: none;

  &:hover {
    text-decoration:none;
  }

}



//about page
.about-page-self-pic {
  float: left;
  width: 60vh;
  margin: 10px;
}

.about-column {
  float: left;
  width: 33%;
  padding-left: 5px;
  padding-right: 5px;
  text-align: left;
  margin-top: 5px;
  font-weight:bold;
  //font-family: graduate;
}


//blog page
.blog1-title-block {
  background-image: url("blog1.jpeg");
  background-repeat: no-repeat;
  background-size: 100vw 350px;

  width: 100vw;
  height: 350px;

  border: 1px solid black;

  text-align: center;
}

.blog1-title {
  font-weight: bold;
  color: #eeeeee;
  text-shadow: 1px 1px black;
}

.blog1-subtitle {
  font-size: 1.2em;
  font-weight: bold;
  width: 450px;
  margin: auto;
  color: #dddddd;
}

.blog-button-block {
  margin: auto;
  width: 150px;
}

.blog-button {
  background-color: rgba(0,0,0, 0.0);
  color: white;

  border: 3px solid white;
  border-radius: 5px;

  text-align: center;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 20px;


  text-decoration: none;

  &:hover {
    text-decoration:none;
  }

}

.blog1 {
  visibility: hidden;
}
