<div class="container-fluid">
  <header>
    <div class="row">
      <nav class="navbar navbar-default navbar-fixed-bottom">
        <!--footer_icon partial contains each of the icons that will go in the footer-->
        <%= render 'layouts/footer_icons' %>
      </nav>
    </div>
  </header>
</div>
