<li style="text-align:center;"><%= link_to(icon_url) do %>
  <span style="padding: 5px;">
    <%= image_tag("rails.png", class: "footer-icon") %>
    <h6 style="font-weight: bold; margin-top: -10px;">Ruby on Rails 5</h6>
  </span></li>
<% end %>
